[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
lxml = "*"
pathlib = "*"
gunicorn = "*"
dj-database-url = "*"
python-decouple = "*"
psycopg2 = "*"
psycopg2-binary = "*"
whitenoise = {extras = ["brotli"], version = "*"}
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
