/* Sticky header */
.app-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    background-color: white; 
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.app-header-icons {
    display: flex;
    align-items: center;
    gap: 20px; 
    background-color: white;
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.app-header-logo, .app-header-buttons {
    display: flex;
    align-items: center;
}

.app-header-logo:hover, .app-header-button:hover{
    transform: scale(1.25);
}

.app-header-button {
    margin: 0 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.app-header-logo {
    transition: transform 0.5s ease;
}
  