.diagram-visualization-title {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.diagram-visualization { 
    width: 80vw;
    height: 80vh;
    margin: 0 auto; 
    position: relative; 
    overflow: hidden;
}

.participant {
    position: absolute;
    z-index: 1;
}

.lane {
    position: absolute;
    z-index: 2; 
}

.element {
    position: absolute;
    z-index: 3;
}

.flow-element{
    position: absolute; 
    z-index: 4;
}
