.diagram-visualization-title {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.diagram-visualization-container {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.diagram-visualization-graphic { 
    flex-grow: 1;
    margin: 3vh 7vh; 
    position: relative; 
    overflow: hidden;
}
