.add-edit-diagram-modal-header {
    background-color: #007BFF;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-edit-diagram-modal-body {
    padding: 20px;
}

.add-edit-diagram-modal-footer {
    background-color: #f1f1f1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.add-edit-diagram-modal-cancel-button {
    color: #007BFF;
    border-color: #007BFF;
    background-color: white; 
    margin-right: 10px;
}

.add-edit-diagram-modal-cancel-button:hover {
    background-color: #b30000; 
    color: white; 
}

.add-edit-diagram-modal-save-button {
    background-color: #007BFF;
    color: white;
    border-color: #007BFF; 
}

.add-edit-diagram-modal-save-button:hover {
    background-color: #0056b3;
    color: white; 
}

.add-edit-diagram-form-group {
    margin-top: 20px; 
}

.add-edit-diagram-form-current-file {
    word-break: break-all;
    margin-top: 20px;
}

.add-edit-diagram-form-current-file-path {
    margin-top: 5px;
}