/* Sticky header */
.app-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background-color: white; 
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-header-icons {
    display: flex;
    align-items: center;
    gap: 20px; 
    background-color: white;
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.app-header-logo {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
}

.app-header-logo:hover {
    transform: scale(1.25);
}

.app-header-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.app-header-button {
    margin: 0 5px;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .app-header-button:hover {
    transform: scale(1.25);
  }
  
  .dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .dropdown-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown-menu button:hover {
    background-color: #f0f0f0;
  }
  