.diagram-visualization-title {
    justify-content: center;
    display: flex;
}

.diagram-visualization { 
    position: relative;
    width: 100%;
    height: 100%;
}

.participant {
    position: absolute;
    z-index: 1;
}

.lane {
    position: absolute;
    z-index: 2; 
}

.element {
    position: absolute;
    z-index: 3;
}

.flow-element{
    position: absolute; 
    z-index: 4;
}
