<!DOCTYPE html>
<!-- TODO: Na razie nie ma tej strony w ogole do momentu stworzenia bazy danych-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Diagrams</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">All Diagrams</h1>
        <div class="row mt-5">
            <div class="col">
                <ul class="list-group">
                    {% for diagram in diagrams %}
                    <li class="list-group-item">
                        <a href="#">{{ diagram.uploaded_at }} - {{ diagram.xml_file.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <a href="{% url 'index' %}" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
</body>
</html>
