<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Welcome to the BPMN Diagram Application</h1>
        <div class="row mt-5">
            <div class="col text-center">
                <a href="{% url 'diagrams:upload_new_file' %}" class="btn btn-primary btn-lg">Upload New Diagram</a>
            </div>
            <div class="col text-center">
                <a href="{% url 'diagrams:view_all' %}" class="btn btn-secondary btn-lg">View All Diagrams</a>
            </div>
        </div>
    </div>
</body>
</html>
